p, li {
	font: normal Helvetica, Arial, sans-serif;
	font-size: .8em;
}

ul {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

li {
	padding-bottom: 4px;
}