<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="com.wf.wellsfargomobile" package="com.wf.wellsfargomobile" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <supports-screens android:largeScreens="false" android:largestWidthLimitDp="500" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="false"/>
    <compatible-screens>
        <screen android:screenDensity="ldpi" android:screenSize="small"/>
        <screen android:screenDensity="mdpi" android:screenSize="small"/>
        <screen android:screenDensity="hdpi" android:screenSize="small"/>
        <screen android:screenDensity="xhdpi" android:screenSize="small"/>
        <screen android:screenDensity="480" android:screenSize="small"/>
        <screen android:screenDensity="560" android:screenSize="small"/>
        <screen android:screenDensity="640" android:screenSize="small"/>
        <screen android:screenDensity="ldpi" android:screenSize="normal"/>
        <screen android:screenDensity="mdpi" android:screenSize="normal"/>
        <screen android:screenDensity="hdpi" android:screenSize="normal"/>
        <screen android:screenDensity="xhdpi" android:screenSize="normal"/>
        <screen android:screenDensity="400" android:screenSize="normal"/>
        <screen android:screenDensity="480" android:screenSize="normal"/>
        <screen android:screenDensity="560" android:screenSize="normal"/>
        <screen android:screenDensity="640" android:screenSize="normal"/>
        <screen android:screenDensity="ldpi" android:screenSize="large"/>
        <screen android:screenDensity="mdpi" android:screenSize="large"/>
        <screen android:screenDensity="hdpi" android:screenSize="large"/>
        <screen android:screenDensity="xhdpi" android:screenSize="large"/>
        <screen android:screenDensity="480" android:screenSize="large"/>
        <screen android:screenDensity="560" android:screenSize="large"/>
        <screen android:screenDensity="640" android:screenSize="large"/>
    </compatible-screens>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="com.wf.wellsfargomobile.permission.REPLENISHMENT_CHECK_SERVICE_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wf.wellsfargomobile.permission.REPLENISHMENT_CHECK_SERVICE_PERMISSION"/>
    <permission android:name="com.wf.wellsfargomobile.permission.HCE_WALLET_REPLENISH_SERVICE_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wf.wellsfargomobile.permission.HCE_WALLET_REPLENISH_SERVICE_PERMISSION"/>
    <permission android:name="com.wf.wellsfargomobile.permission.WALLET_INTENT_SERVICE_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wf.wellsfargomobile.permission.WALLET_INTENT_SERVICE_PERMISSION"/>
    <permission android:name="com.wf.wellsfargomobile.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wf.wellsfargomobile.permission.C2D_MESSAGE"/>
    <permission android:name="com.wf.wellsfargomobile.permission.OFFER_DOWNLOAD_SERVICE_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wf.wellsfargomobile.permission.OFFER_DOWNLOAD_SERVICE_PERMISSION"/>
    <permission android:name="com.wf.wellsfargomobile.permission.DOWNLOADMANAGER_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wf.wellsfargomobile.permission.DOWNLOADMANAGER_PERMISSION"/>
    <permission android:name="com.wf.wellsfargomobile.permission.SEND_AND_FORGET_SERVICE_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wf.wellsfargomobile.permission.SEND_AND_FORGET_SERVICE_PERMISSION"/>
    <permission android:name="com.wf.wellsfargomobile.permission.FRONT_PORCH_DOWNLOAD_SERVICE_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wf.wellsfargomobile.permission.FRONT_PORCH_DOWNLOAD_SERVICE_PERMISSION"/>
    <permission android:name="com.wf.wellsfargomobile.permission.PHOTO_BILLPAY_PHOTO_SUBMIT_PERMISSION" android:protectionLevel="signature"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <application android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.wf.wellsfargomobile.WFApp" android:supportsRtl="false" android:theme="@style/WFTheme">
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/map_key_v2_unsigned_release"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="locale" android:icon="@mipmap/ic_launcher" android:logo="@drawable/ic_logo_wellsfargo" android:name="com.wf.wellsfargomobile.MainActivity" android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale" android:exported="false" android:name="com.wf.wellsfargomobile.InfoActivity" android:parentActivityName="com.wf.wellsfargomobile.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.wf.wellsfargomobile.MainActivity"/>
        </activity>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation" android:exported="false" android:label="@string/empty" android:logo="@drawable/ic_logo_wellsfargo" android:name="com.wf.wellsfargomobile.WebViewActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:exported="false" android:label="@string/empty" android:logo="@drawable/ic_logo_wellsfargo" android:name="com.wf.wellsfargomobile.ModalDialogWebViewActivity" android:theme="@style/DialogWebViewActivityTheme" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:exported="false" android:label="@string/empty" android:logo="@drawable/ic_logo_wellsfargo" android:name="com.wf.wellsfargomobile.ModalDialogLargeWebViewActivity" android:theme="@style/DialogLargeWebViewActivityTheme" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="locale|keyboardHidden|orientation" android:exported="false" android:launchMode="standard" android:name="com.miteksystems.misnap.MiSnap" android:process=":MiSnap" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:configChanges="locale" android:exported="false" android:name="com.wf.wellsfargomobile.QRCodeScanActivity"/>
        <activity android:configChanges="locale" android:exported="false" android:name="com.wf.wellsfargomobile.photobillpay.PhotoBillPayScanActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale" android:exported="false" android:name="com.wf.wellsfargomobile.photobillpay.PhotoBillPayPhotoTipsActivity"/>
        <activity android:configChanges="locale" android:exported="false" android:name="com.wf.wellsfargomobile.mrdc.ReviewCheckImageActivity"/>
        <activity android:configChanges="locale" android:exported="false" android:label="@string/legal_notices" android:name="com.wf.wellsfargomobile.notices.NoticeListActivity" android:parentActivityName="com.wf.wellsfargomobile.InfoActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.wf.wellsfargomobile.InfoActivity"/>
        </activity>
        <activity android:configChanges="locale" android:exported="false" android:label="@string/legal_notices" android:name="com.wf.wellsfargomobile.notices.NoticeDetailActivity" android:parentActivityName="com.wf.wellsfargomobile.notices.NoticeListActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.wf.wellsfargomobile.notices.NoticeListActivity"/>
        </activity>
        <receiver android:exported="true" android:name="com.wf.wellsfargomobile.gcm.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.wf.wellsfargomobile"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.wf.wellsfargomobile.gcm.GcmIntentService"/>
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        <activity android:exported="false" android:label="@string/title_location_list" android:launchMode="singleTop" android:logo="@drawable/ic_logo_wellsfargo" android:name="com.wf.wellsfargomobile.locations.LocationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/location_searchable"/>
        </activity>
        <activity android:exported="false" android:label="@string/title_activity_notice" android:name="com.wf.wellsfargomobile.notices.NoticeActivity" android:theme="@style/NoticeActivityTheme"/>
        <activity android:exported="false" android:label="@string/title_activity_info" android:name="com.wf.wellsfargomobile.notices.InfoActivity" android:theme="@style/NoticeActivityTheme"/>
        <activity android:exported="false" android:label="@string/title_p2pcontact_detail" android:name="com.wf.wellsfargomobile.p2pimport.P2PImportDetailActivity"/>
        <activity android:name="com.wf.wellsfargomobile.gcm.PNRouterActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="false" android:name="com.wf.wellsfargomobile.hcewallet.activity.WalletSignOnActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:exported="false" android:name="com.wf.wellsfargomobile.hcewallet.activity.WalletPinActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:exported="false" android:name="com.wf.wellsfargomobile.hcewallet.activity.WalletPayNowActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:exported="false" android:name="com.wf.wellsfargomobile.hcewallet.activity.WalletErrorCVActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <service android:enabled="true" android:exported="false" android:name="com.wf.wellsfargomobile.util.OfferDownloadService" android:permission="com.wf.wellsfargomobile.permission.OFFER_DOWNLOAD_SERVICE_PERMISSION"/>
        <service android:enabled="true" android:exported="false" android:name="com.wf.wellsfargomobile.util.SendAndForgetRequestService" android:permission="com.wf.wellsfargomobile.permission.SEND_AND_FORGET_SERVICE_PERMISSION"/>
        <service android:enabled="true" android:exported="false" android:name="com.wf.wellsfargomobile.util.FrontPorchDownloadService" android:permission="com.wf.wellsfargomobile.permission.FRONT_PORCH_DOWNLOAD_SERVICE_PERMISSION"/>
        <service android:enabled="false" android:exported="true" android:name="com.wf.wellsfargomobile.hcewallet.service.HCEWalletHostApduService" android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service" android:resource="@xml/hce_apdu_service"/>
        </service>
        <service android:enabled="false" android:exported="false" android:name="com.visa.cbp.sdk.facade.activeaccountmanagement.ReplenishmentCheckService" android:permission="com.wf.wellsfargomobile.permission.REPLENISHMENT_CHECK_SERVICE_PERMISSION"/>
        <service android:enabled="false" android:exported="false" android:name="com.wf.wellsfargomobile.hcewallet.service.HCEWalletReplenishService" android:permission="com.wf.wellsfargomobile.permission.HCE_WALLET_REPLENISH_SERVICE_PERMISSION">
            <intent-filter>
                <action android:name="com.visa.cbp.action.REPLENISH"/>
            </intent-filter>
        </service>
        <service android:enabled="false" android:exported="false" android:name="com.wf.wellsfargomobile.hcewallet.service.WalletIntentService" android:permission="com.wf.wellsfargomobile.permission.WALLET_INTENT_SERVICE_PERMISSION"/>
        <receiver android:enabled="false" android:name="com.wf.wellsfargomobile.hcewallet.service.HCEVisaBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
