<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="appinventor.ai_progetto2003.SCAN" platformBuildVersionCode="18" platformBuildVersionName="4.3.1-1425645">
    <uses-permission android:name="android.permission.E_MAIL"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/application_name" android:theme="@style/Theme.Exampleqrbs">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:label="@string/app_name" android:name="com.QRBS.activity.StartActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_qr" android:name="com.QRBS.activity.QrActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.QRBS.activity.ManualInsert" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.MyResultActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.FromURL" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CreateUrl" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.MyEncodeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.FreeText" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CreateApp" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CreateTel" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CreateEmail" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.EmailList" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CreateBookmarks" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.BookmarksListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CreateGps" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CreateCalendar" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CalendarList" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.About" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.Opzioni" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.Licenza" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.Visualizza" android:screenOrientation="portrait"/>
        <activity android:name="com.QRBS.activity.CalendarListSel" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode" android:name="com.google.android.gms.ads.AdActivity"/>
    </application>
</manifest>
