<div class="error-wrap">
	<div class="block">
		<div class="middle">
			<div class="row">
				<div class="small-8 large-4 large-centered small-centered columns">
					<div class="error-msg" ng-if="no_connection">
						<i class="icon-wifi icon-2x"></i>
						<p>You need a network connection to use the app. Please check your connection.</p>
					</div>

					<div class="error-msg" ng-if="message">
						<i class="icon-wrench icon-2x"></i>
						<p>{{message}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="flash_ref"/>
